<!-- Navigation Bar -->
<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="onOpenModal(null!, 'add')" target="_blank">Add Vinyl</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input type="search" class="form-control mr-sm-2" name="value" (ngModelChange)="searchVinyls(key.value)" #key="ngModel" ngModel placeholder="Search vinyls" aria-label="Search">
    </form>
  </div>
</div>

<!-- Main Container -->
<div class="container" id="main-container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-10 text-center">
      <div class="mb-3">
        <h2>Explore vinyls!</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let vinyl of vinyls" class="col-lg-4 col-md-6">
      <div class="team">
        <div class="team-avatar">
          <img class="w-100" src="{{vinyl?.imgURL}}" alt="">
        </div>
        <div class="team-content">
          <div class=" team-content-inner">
            <div class="d-flex">
              <div class="team-info">
                <h5 class="mb-0"><a href="#" class="avatar-name"></a>{{vinyl.name}}</h5>
                <span class="team-position">{{vinyl.genre}}</span>
              </div>
              <div class="team-social ml-auto">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" (click)="onOpenModal(vinyl, 'edit')" href="#">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="onOpenModal(vinyl, 'delete')" href="#">
                      <i class="fa fa-times"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-contact mt-2">
              <ul class="list-group list-group-flush">
                <li class="team-position"><i></i>Artist: {{vinyl.artist}}</li>
                <li class="team-position"><i></i>Release Date: {{vinyl.releaseDate}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Vinyl Modal -->
<div class="modal fade" id="addVinylModal" tabindex="-1" role="dialog" aria-labelledby="addVinylModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVinylModalLabel">Add Vinyl</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddVinyl(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="name">Artist</label>
            <input type="text" ngModel name="artist" class="form-control" id="artist" placeholder="Artist" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="name">Genre</label>
            <input type="text" ngModel name="genre" class="form-control" id="genre" placeholder="Genre" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="releaseDate"> Release Date</label>
            <input type="text" ngModel pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}" name="releaseDate" class="form-control" id="releaseDate" placeholder="DD/MM/YYYY (example 01/12/2001)"  maxlength="10"required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" ngModel name="imgURL" class="form-control" id="imageUrl" placeholder="Image URL" maxlength="255" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-vinyl-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Vinyl Modal -->
<div class="modal fade" id="editVinylModal" tabindex="-1" role="dialog" aria-labelledby="editVinylModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editVinylModalLabel">Edit Vinyl</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm = "ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{currentVinyl?.name}}" name="name" class="form-control" placeholder="Name" maxlength="50" required>
          </div>
          <input type="hidden" ngModel="{{currentVinyl?.id}}" name="id" class="form-control" id="id" placeholder="">
          <div class="form-group">
            <label for="name">Artist</label>
            <input type="text" ngModel="{{currentVinyl?.artist}}" name="artist" class="form-control" placeholder="Artist" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="name">Genre</label>
            <input type="text" ngModel="{{currentVinyl?.genre}}" name="genre" class="form-control" placeholder="Genre" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="releaseDate"> Release Date</label>
            <input type="text" ngModel="{{currentVinyl?.releaseDate}}" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}" data-date-format="dd/MM/yyyy" name="releaseDate" class="form-control" placeholder="Release Date" maxlength="10" required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" ngModel="{{currentVinyl?.imgURL}}" name="imgURL" class="form-control" placeholder="Image URL" maxlength="255" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-vinyl-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="editForm.invalid" (click)="onUpdateVinyl(editForm.value)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Vinyl Modal -->
<div class="modal fade" id="deleteVinylModal" tabindex="-1" role="dialog" aria-labelledby="deleteVinylModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Vinyl</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete vinyl {{vinylForDeletion?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteVinyl(vinylForDeletion.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no vinyls -->
<div *ngIf="vinyls?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO VINYLS!</h4>
    <p>No Vinyls were found.</p>
  </div>
</div>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a  (click)="onOpenModal(null!, 'add')"><i class="fa fa-angle-double-right" target="_blank"></i>Add New Vinyl</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
